{% extends 'base.html.twig' %}

{% block title %}Nouvel Accessoire de Securite{% endblock %}

{% block body %}

    <main class="container my-5">
        <h1 class="mb-3">Création d'un nouvel Accessoire de Securite</h1>

        {{ include('accessoire_securite/_form.html.twig') }}
    </main>

{% endblock %}
